*.pyc
__pycache__/
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
.venv

media/
# Python
venv/
__pycache__/
*.pyc
.env

# Django
db.sqlite3
staticfiles/
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
