{% extends 'ms_portfolio/base.html' %}
{% load static %}
{% block content %}
<!-- Section À propos -->
<section class="about">
    <div class="container">
        <h2 class="section-title">À <span>propos</span></h2>
        <div class="about-container">
            <div class="about-img">
                <div class="img-card">
                    <div class="img-card-inner">
                        <div class="img-card-front">
                            <img src="/media/img/mhd.jpeg" alt="Mohamed SARE" loading="lazy">
                        </div>
                        <div class="img-card-back">
                            <h3>Mohamed SARE</h3>
                            <p>Développeur Full-Stack</p>
                            <p>Python/Django/React</p>
                            <p>Créatif & Innovant</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-text">
                <h3>Qui suis-je ?</h3>
                <p>
                    Je suis Mohamed SARE, étudiant en Génie Informatique originaire du Burkina Faso,spécialisé dans la conception de solutions web et logicielles à forte valeur ajoutée. J’aide les entreprises et porteurs de projets à transformer leurs idées en produits numériques fiables, modernes et évolutifs.
                    </p>
                    
                    <p>
                    Curieux, rigoureux et orienté performance, je conçois des architectures techniques sécurisées et optimisées, capables de soutenir la croissance des organisations et de répondre à des exigences professionnelles réelles.
                    </p>
                    
        
                
                <div class="soft-skills">
                    <h3>Compétences transversales</h3>
                    <div class="skills-container">
                        <span class="skill" data-skill="Créativité">Créativité</span>
                        <span class="skill" data-skill="Travail d'équipe">Travail d'équipe</span>
                        <span class="skill" data-skill="Communication">Communication</span>
                        <span class="skill" data-skill="Résolution de problèmes">Résolution de problèmes</span>
                        <span class="skill" data-skill="Adaptabilité">Adaptabilité</span>
                        <span class="skill" data-skill="Gestion de projet">Gestion de projet</span>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Timeline -->
        <div class="timeline">
            <h3>Mon <span>Parcours</span></h3>
            <div class="timeline-container">
                <div class="timeline-item">
                    <div class="timeline-content">
                        <h4><script> document.write(new Date().getFullYear());</script> - Présent</h4>
                        <p>Étudiant en  Génie Informatique à l'École Supérieure de Technologie de Casablanca(Morocco)</p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-content">
                        <h4>2022 - 2023</h4>
                        <p>Baccalauréat Scientifique au Lycée Privé Marie Véronique de Ouagadougou (Burkina Faso)</p>
                    </div>
                </div>
            
                <div class="timeline-item">
                    <div class="timeline-content">
                        <h4>2020 - 2021</h4>
                        <p>Premiers pas en Algorithme et Programmation C (découverte de la programmation)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
